.choice-box {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-background-color: #ff428e;
}

.choice-box > .label {
	-fx-text-fill: #1e2023;
}

.choice-box .context-menu {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-background-color: #ff428e;
	-fx-text-fill: #1e2023;
}

.choice-box .menu-item:focused {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-background-color: #ff428e;
	-fx-text-fill: #1e2023;
}

.choice-box .menu-item > .label {
	-fx-text-fill: #1e2023;
}

.choice-box .menu-item:focused > .label {
	-fx-text-fill: #1e2023;
}

.button {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-background-color: #ff428e;
	-fx-text-fill: #1e2023;
}

.label {
	-fx-text-fill: #f2f5f9;
}

.separator *.line {
	-fx-border-width: 0px;
	-fx-background-color: #fce0f2;
}

.slider > .track {
	-fx-background-color: #fce0f2;
}

.slider > .thumb {
	-fx-background-color: #ff428e;
}